# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Windows junk
Thumbs.db
thumbs.db
Desktop.ini
desktop.ini

# macOS junk
.DS_Store

# ignore .release folder
/.release

# IDE
.vscode/
.idea/

# Libraries
/Libs